GOOGLE_API_KEY=your_google_gemini_api_key_here
SECRET_KEY='your_django_secret_key_here'
PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_ENV=gcp-starter
PINECONE_INDEX_NAME=knowledge-notes

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=your-email@gmail.com